{% load crispy_forms_tags %}
{% load static %}
{% include 'app/partials/head.html' %}
{% include 'app/partials/nav.html' %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">commentaire</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">editer</h6>
        </div>
        <div class="card-body">
                <div class="container">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.publication|as_crispy_field }}
                            </div>
    
                            <div class="form-group">
                                {{ form.nom|as_crispy_field }}
                            </div>
    
                            <div class="form-group">
                                {{ form.prenom|as_crispy_field }}
                            </div>

                            <div class="form-group">
                                {{ form.email|as_crispy_field }}
                            </div>
    
                            <div class="form-group">
                                {{ form.contenu|as_crispy_field }}
                            </div>
                            <div class="form-group">
                                <input type="date" id="date_publication" auto_now_add="True" auto_now=true,>
                            </div>
                            <button type="submit" class="btn btn-primary m-3">modifier</button>
                        </form>
                </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
