{% load static %}
{% include 'app/partials/head.html' %}
{% include 'app/partials/nav.html' %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Users</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <a href="{% url 'users_register' %}" class="btn btn-primary"
        >nouveau</a
      >
      <div class="card-body">
        <table id="datatablesSimple">
          <thead>
            <tr>
              <th>Id</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th> Email </th>
              <th> Username </th>
              <th>Options</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
            {% if user.is_staff == 0 %}
            <tr>
              <td>{{ user.id }}</td>
              <td>{{ user.first_name }}</td>
              <td>{{ user.last_name }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.username }}</td>
              <td>
                <form action="{% url 'users_delete' user.id %}" method="post">
                  {% csrf_token %}
                  <button type="submit" onclick="return confirm('Do you want to delete this user ?')"
                    class="btn btn-danger">
                    Delete
                  </button>
                </form>
              </td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->
{% endblock %}